<h1>Items in your cart</h1>

<% if current_user %>
  <% @order_items = @order_items.sort { |i, j| i.item.category_id <=> j.item.category_id } %>
  <% @order_items.each do |i| %>
    <div>
      <p><%= i.item.category.item_type %></p>
      <p>Brand: <%= i.item.brand %></p>
      <p>Price:<%= humanized_money_with_symbol(i.price) %></p>
      <p>Size: <%= i.item.size %></p>
      <p>quantity: <%= i.quantity %></p>
      <%= form_tag edit_orderitem_path(i), method: :patch do |j| %>
        <%= hidden_field_tag "quantity_update", "true" %>
        <%= number_field_tag "quantity", i.quantity, min: 0 %>
        <%= submit_tag %>
      <% end %>
      <%= link_to "Remove from cart", destroy_orderitem_path(i), method: :delete %>
      <br>
    </div>
  <% end %>
<% else %>
  <% session[:package_items].each do |i| %>
    <% if i["cart"] %>
      <% item = Item.find(i["item_id"]) %>
      <div>
        <p><%= item.category.item_type %></p>
        <p>Brand: <%= item.brand %></p>
        <p>Price:<%= humanized_money_with_symbol(item.price) %></p>
        <p>Size: <%= item.size %></p>
        <p>quantity: <%= i["quantity"] %></p>
        <%= form_tag edit_orderitem_path(item), method: :patch do |j| %>
          <%= hidden_field_tag "quantity_update", "true" %>
          <%= hidden_field_tag "item_id", i["id"] %>
          <%= number_field_tag "quantity", i["quantity"], min: 0 %>
          <%= submit_tag %>
        <% end %>
        <%= link_to "Remove from cart", destroy_orderitem_path(i["item_id"]), method: :delete %>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
<br>
<br>

<% if current_user %>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="..."
    data-email="<%= current_user.email %>"
    data-description="Your cart."
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>

<% end %>

<%#= simple_form_for done_path do |t|%>
  <%#= t.hidden_field @order_items %>
  <%#= t.submit 'Place Order', class: 'btn btn-primary' %>
<%# end %>
<%= link_to "Place Order", done_path, class: "btn btn-danger" %>
<% end %>




<!-- Stripe form -->




