<div class="package-checkout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="package-main-checkout">
          <div class="package-items checkout-items">
            <div>
            <% if current_user %>
              <% @order_items = @order_items.sort { |i, j| i.item.category_id <=> j.item.category_id } %>
              <% @order_items.each do |i| %>
                <div class="package-item">
                <div class="package-item-details">
                  <div class="package-item-picture">
                    <%= image_tag i.item.picture %>
                  </div>
                  <div class="package-item-middle">
                    <p class="package-item-category"><%= i.item.category.item_type.capitalize %></p>
                    <p class="package-item-brand"><%= i.item.brand %></p>
                    <p><%= i.item.size.capitalize %></p>
                  </div>
                  </div>
                  <div class="package-purchase-details">
                  <div class="package-item-right">
                    <p class="package-item-price"><%= humanized_money_with_symbol(i.item.price) %></p>
                  </div>
                  <div class="package-item-quantity">
                    <%= form_tag edit_orderitem_path(i), class: "form-inline", method: :patch do |j| %>
                      <%= hidden_field_tag "quantity_update", "true" %>
                      <div class="form-group">
                        <%# label_tag "quantity", "Qty:" %>
                        <%= number_field_tag "quantity", i.quantity, min: 0, class: "form-control" %>
                      </div>
                      <%= submit_tag "Update", class: "btn cart-button order-item-quantity-update-button" %>
                    <% end %>
                  </div>
                  <div class="package-item-remove">
                    <%= link_to destroy_orderitem_path(i), method: :delete, class: "btn cart-button" do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </div>
                  </div>
                </div>
              <% end %>

            <% else %>

              <% session[:package_items].each do |i| %>
                <% if i["cart"] %>
                <% item = Item.find(i["item_id"]) %>
                <div class="package-item">
                  <div class="package-item-picture">
                    <%= image_tag item.picture %>
                  </div>
                  <div class="package-item-middle">
                    <p class="package-item-category"><%= item.category.item_type.capitalize %></p>
                    <p class="package-item-brand"><%= item.brand %></p>
                    <p><%= item.size.capitalize %></p>
                  </div>
                  <div class="package-item-right">
                    <p class="package-item-price"><%= humanized_money_with_symbol(item.price) %></p>
                  </div>
                  <div class="package-item-quantity">
                    <%= form_tag edit_orderitem_path(item), class: "form-inline", method: :patch do |j| %>
                    <%= hidden_field_tag "quantity_update", "true" %>
                    <div class="form-group">
                      <%# label_tag "quantity", "Qty:" %>
                      <%= number_field_tag "quantity", i["quantity"], min: 0, class: "form-control" %>
                    </div>
                      <%= submit_tag "Update", class: "btn cart-button order-item-quantity-update-button" %>
                    <% end %>
                  </div>
                  <div class="package-item-remove">
                    <%= link_to destroy_orderitem_path(item), method: :delete, class: "btn cart-button" do %>
                    <i class="fa fa-trash-o"></i>
                    <% end %>
                  </div>
                </div>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            <article>
            <div class="order-amount">
              <% if current_user %>
                <h2>Total: <%= humanized_money_with_symbol(@order.amount) %></h2>
              <% else %>
                <h2>Total: $<%= @logged_out_order_price %></h2>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="package-side-checkout">
          <% if current_user %>
            <div class="pay-with-strip">
              <h2>Your Shipping Address</h2>
              <%= form_tag order_payments_path(@order) do %>
                <div class="address-form">
                  <%= label_tag "name", "Full Name" %>
                  <%= text_field_tag "name" %>
                  <%= label_tag "address_line_one", "Address Line 1" %>
                  <%= text_field_tag "address_line_one" %>
                  <%= label_tag "address_line_two", "Address Line 2" %>
                  <%= text_field_tag "address_line_two" %>
                  <%= label_tag "city", "City", class: "my-block" %>
                  <%= text_field_tag "city" %>
                  <%= label_tag "province", "Province" %>
                  <%= text_field_tag "province" %>
                  <%= label_tag "postal_code", "Postal Code" %>
                  <%= text_field_tag "postal_code" %>
                </div>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button cart-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Zebrasclub"
              data-email="<%= current_user.email %>"
              data-description="Your Cart"
              data-amount="<%= @order.amount_cents %>"
              data-currency="<%= @order.amount.currency %>"></script>
              <% end %>
            </div>
          <% else %>
            <div class="please-log-in">
              <p>Login or Sign Up to place your order</p>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
                <i class="fa fa-sign-in"></i> Login
              <% end %>
              <p>OR</p>
              <%= link_to new_user_registration_path, class: "btn btn-danger" do %>
                <i class="fa fa-user-plus"></i> Sign Up
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
