<div class="navbar-wagon <%= controller_name == "pages" && action_name == "home" ? "nav-bg-transparent nav-btn-white" : "nav-bg-white nav-btn-grey" %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <div class="nav-logo">
  <%= image_tag "logo_complet_final_petite.png" %>
  </div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% unless (current_user && (current_user.orders.empty? || current_user.orders.last.order_items.where(package: true).length.zero?)) || (!current_user && session[:package_items].nil?) %>
      <%#= link_to package_path, class: "btn navbar-button" do %>
        <!-- <i class="fa fa-cube"></i> My Package -->
      <%# end %>
      <div class="dropdown navbar-button">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
          <%= link_to helmets_path, class:"btn navbar-button" do %>
            <i class="fa fa-star"></i> Helmets
          <% end %>
          </li>
          <li>
          <%= link_to skates_path, class:"btn navbar-button" do %>
            <i class="fa fa-star"></i> Skates
          <% end %>
          </li>
          <li>
          <%= link_to jerseys_path, class:"btn navbar-button" do %>
            <i class="fa fa-star"></i> Jerseys
          <% end %>
          </li>
          <li>
          <%= link_to pants_path, class:"btn navbar-button" do %>
            <i class="fa fa-star"></i> Pants
          <% end %>
          </li>
          <li>
          <%= link_to armbands_path, class:"btn navbar-button" do %>
            <i class="fa fa-star"></i> Armbands
          <% end %>
          </li>
        </ul>
     </div>
      <%= link_to orderitems_path, class: "btn navbar-button" do %>
        <i class="fa fa-shopping-cart"></i> My Cart
      <% end %>
    <% end %>

    <% if user_signed_in? %>
     <%= link_to destroy_user_session_path, method: :delete, class: "btn navbar-button" do %>
     <i class="fa fa-sign-out"></i> Sign Out
    <% end %>



   <% else %>
   <%= link_to "Login", new_user_session_path, class: "btn navbar-button navbar-wagon-item" %>
   <%= link_to "Sign Up", new_user_registration_path, class: "btn navbar-button navbar-wagon-item" %>
   <% end %>
 </div>

</div>

