
<div class="banner">
  <div class="banner-content">
    <div class="home-banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>The World's #1 Ref Store</h1>
            <!-- <h1><%#= t.hello %></h1> -->
          </div>
          <div class="col-xs-12">
            <%= simple_form_for :search,  url: package_path , :method => :get, html: {class: 'form-inline'} do |f| %>
            <%= f.input :price_upper, as: :integer, required: false, placeholder: "$500", label: "MY BUDGET IS   ", class: "budget-title" %>
            <%= f.input :new_package, as: :hidden, value: "true" %>
            <%= f.submit "GET YOUR PACKAGE", class: "btn cart-button btn-package" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">

  #mc_embed_signup{clear:left;
   font:14px Helvetica,Arial,sans-serif;
  }
  #mc-embedded-subscribe{
    color: black;
    margin: 20px;
    input{
      color: black;
      }
  }
  #mce-EMAIL{
    color: white;
    background-color: white;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    text-align: center;
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//zebrasclub.us15.list-manage.com/subscribe/post?u=c3f0bd81a6fc7bc5b51b4a1f7&amp;id=<%= ENV['MAILCHIMP_LIST_ID'] %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<!-- <form action="/" method="post" class="validate" target="_blank" novalidate style=""> -->
    <div id="mc_embed_signup_scroll">
  <h2>Entre ton fuckin email yo!</h2>
<div class="mc-field-group">
  <!-- <label for="mce-EMAIL">Email Address </label> -->
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="example@gmail.com">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c3f0bd81a6fc7bc5b51b4a1f7_77537efd5a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
    <!-- </form> -->
</form>
</div>



<!--End mc_embed_signup-->
