<div class="package-index-item">
  <%= link_to "", package_replace_path(old_item_id: old_item_id, new_item_id: new_item_id, item_ids: item_ids), remote: true, method: :post, class: "package-index-items-overlay"%>
  <div class="package-index-item-picture-section">
     <%= image_tag picture %>
  </div>
  <div class="package-index-item-content-section">
    <div class="package-index-item-brand">
      <h2><%= brand %></h2>
    </div>
    <div class="package-index-item-price">
      <%= humanized_money_with_symbol(price) %>
    </div>
    <div class="package-index-item-description">
      <p><%= description %></p>
    </div>
  </div>
</div>
