<div class="package-index-items-container">
  <div class="package-index-form-container">
    <%= form_tag package_items_path(item: old_item_id, item_ids: @item_ids), method: :post, remote: true, class: "package-index-form" do |i| %>
      <strong id="index-min">$10</strong><input id="ex2" type="text" class="span2" name="min_max" value="" data-slider-min="10" data-slider-max="500" data-slider-step="5" data-slider-value="[<%= @min_price %>,<%= @max_price %>]"/><strong id="index-max">$500</strong>
      <%= hidden_field_tag "category", category %>
      <%= hidden_field_tag "filter", "true" %>
      <%= submit_tag "Filter", class: "package-index-form-filter-button" %>
    <% end %>
    <%= link_to package_item_path(item: @item, items: @item_ids), method: :post, remote: true do %>
      <div class="package-index-item-back-button">
        Back
      </div>
    <% end %>
  </div>

  <div class="package-index-items">
    <% unless @items.length.zero? %>
      <% @items.each do |i| %>
        <% item_attr = {
          old_item_id: @item,
          new_item_id: i.id, # I.E., THIS ITEM!!!
          item_type: Category.find(i.category_id).item_type,
          picture: i.picture,
          brand: i.brand,
          price: i.price,
          size: i.size,
          description: i.description
        } %>
        <% item_attr[:item_ids] = @item_ids %>
        <%= render 'items/package_index_item', item_attr %>
      <% end %>
    <% else %>
      <div class="no-items-match-your-search">
        <h1>No Items Match Your Sear :(</h1>
      </div>
    <% end %>
  </div>
</div>


<script>
  $("#ex2").slider({});
</script>
