<div>
    <div>Brand: <%= brand %></div>
    <div>Price: $<%= price %>.00</div>
    <div>Size: <%= size %></div>
    <div><%= description %></div>
    <%= link_to "Select", package_item_path, remote: true, method: :post %>
</div>
